*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

#banner{
    width: 900px;
    height: 350px;
    margin-left: 310px;
}

.text h2{
    font-family: 'Preahvihear', sans-serif;
}

.line{
    background-color: #000;
    width: auto;
    height: 2px;
}

.title h1{
    font-family: 'Preahvihear', sans-serif;
}

.post .card .card-img-top{
    height: 150px;
    height: 270px;
}

.card .img-fluid{
    height: 350px;
}

.aside-hover{
    width: 400px;
    height: 900px;
}

.aside-hover h3{
    font-family: 'Preahvihear', sans-serif;
}

.avatar img{
    width: 100px;
    border-radius: 100%;
}

.bi-whatsapp{
    color: #fff;
}

.bi-github{
    color: #000;
}

.card-languages{
    width: 900px;
    height: 400px;
}

.img{
    width: 300px;
}

.languagem img{
    width: 50px;
}

.languagens-imgs h3{
    font-family: 'Preahvihear', sans-serif;
}

#contact{
    background-image: url('../img/fundo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;   
}

.card-contact{
    width: 800px;
    height: 550px;
}

.title-contact{
    font-family: 'Preahvihear', sans-serif;
}

.logo_white img{
    width: 150px;
}

#mytop{
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 6px;
    transition: all 0.4s;
    border-radius: 8px;
    background-color: #1b3358;
}

#mytop i{
    color: #ffffff;
    font-size: 24px;
}